html(lang='en')
  head
    meta(charset='utf-8')
    title Staples High School TV
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='SHS TV App')
    meta(name='author', content='')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body
    .container
      h1 Staples High School TV
      p.lead Welcome to Staples High School!
    #layout.container
      table.table.table-bordered
        thead
          tr
            th(scope='col') Period
            th(scope='col') Start Time
            th(scope='col') End Time
        tbody
          tr
            th(scope='row') 1
            - var timeStart = "9:30";
            td #{timeStart}
            td 8:20
          tr
            th(scope='row') 2
            td time start
            td time end